<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="content">
        <!-- Banner -->
        <div class="banner">
            Users List
        </div>

        <!-- Menu -->
        <nav>
            <a href="/">Home</a>
            <a href="/users">Users</a>
            <a href="#">Wyszukiwarka</a>
        </nav>

        <!-- Main content -->
        <div class="main">
            <h1>List of Users</h1>
            <table class="user-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td><a href="/users/{{ user.id }}">{{ user.name }}</a></td>
                        <td>{{ user.surname }}</td>
                        <td>{{ user.role_id }}</td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Footer -->
        <div class="footer">
            Footer content here.
        </div>
    </div>
</body>
</html>
