{% extends "base.html" %}

{% block title %}Lista Trenerów{% endblock %}  {% block content %}
    <h1 class="text-center">Lista Trenerów</h1>
    <form method="get" action="/users" class="mb-3">
        <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Wyszukaj trenera (nazwisko)" value="{{ query or '' }}">
            <button type="submit" class="btn btn-primary">Szukaj</button>
        </div>
    </form>
    <table class="table table-striped table-bordered" style="text-align: center;">
        <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 40%;">Imię</th>
                <th scope="col" style="width: 40%;">Nazwisko</th>
                <th scope="col" style="width: 20%;"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</a></td>
                <td>{{ user.surname }}</td>
                <td><a href="/users/{{ user.id }}" class="text-decoration-none btn btn-success btn-md">Odwiedź profil</a></td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}