<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="content">
        <!-- Banner -->
        <div class="banner">
            Profile: {{ user.name }} {{ user.surname }}
        </div>

        <!-- Menu -->
        <nav>
            <a href="/">Home</a>
            <a href="/users">Users</a>
            <a href="#">Wyszukiwarka</a>
        </nav>

        <!-- User Profile -->
        <div class="main">
            <h1>{{ user.name }} {{ user.surname }}</h1>
            <p><strong>Email:</strong> {{ user.e_mail }}</p>
            <p><strong>Role ID:</strong> {{ user.role_id }}</p>
            <!-- Add other user details as necessary -->
        </div>

        <!-- review -->
        <div class="reviews-section">
            <h2>Average Rating: {{ average_rating }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Rating</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                    <tr>
                        <td>{{ review.user_name }}</td>
                        <td>{{ review.user_surname }}</td>
                        <td>{{ review.rating }}</td>
                        <td>{{ review.comment }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        

        <!-- Footer -->
        <div class="footer">
            Footer content here.
        </div>
    </div>
</body>
</html>
